<h3>What is your name?</h3>

<form action='/set_name' method='post'>
  <input type='text' name='player_name' placeholder='Enter your name here'/>
  <br/>
  <input type='submit' class='btn' value='Submit'>
</form>